@import 'lib/base';

@mixin sectionVerticalPadding() {
	$vertical-padding: 40px;
	padding-top: $vertical-padding;
	padding-bottom: $vertical-padding;
}

body {
  font-size: 14px;
}

.bg-alt {
	background-color: #f3f3f3;
}

.section-title {
	text-align: center;
  padding: 0 0 20px;
}

header {
	padding-top: 20px;

	.logo,
	.company-name {
		display: inline-block;
		vertical-align: top;
	}

	.company-name {
		padding-left: 10px;
	}

  .menu-icon {
    padding: 5px 10px;
    margin-top: -6px;
    float: right;
    display: none;
  }

  .navigation {
    list-style: none;
    margin-top: -5px;
    float: right;

    li {
      font-weight: bold;
      display: inline-block;
      padding: 10px 15px;

      a {
        color: #333;
        padding-bottom: 5px;
        text-decoration: none;

        &:hover {
          color: #DA4453;
          border-bottom: 2px solid #DA4453;
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  header {
    position: relative;

    .navigation-wrapper:hover {

      .menu-icon {
        background-color: #DA4453;
      }

      .navigation {
        display: block;
      }
    }

    .menu-icon {
      display: block;
    }

    .navigation {
      position: absolute;
      background-color: #DA4453;
      padding: 15px;
      top: 30px;
      right: 15px;
      z-index: 100;
      display: none;

      li {
        width: 100px;
        display: block;

        a {
          color: #f4f4f4;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.product-slider {
	@include sectionVerticalPadding();

	.product-image {
		width: 100%;

		.slide-toggles {
			list-style: none;
			padding: 10px 0 0 0;

			.toggle {
				width: 10px;
				height: 10px;
				background-color: #333;
				display: inline-block;
			}
		}
	}

	.product-info {

    h2 {
      font-size: 1.8em;
      padding-bottom: 15px;
    }

    .share-item-block {
      padding-top: 15px;

      .add-to-cart {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #ED5565;
        color: white;
        font-size: 1em;

        &:hover {
          background-color: #DA4453;
        }
      }

      .share-buttons {
        list-style: none;
        padding: 6px 0 0 0;
        float: right;

        .share {
          display: inline-block;
        }
      }
    }
	}
}

.testimonials {
	@include sectionVerticalPadding();

	.profiles {
		margin-left: 50%;
		transform: translateX(-50%);
    text-align: center;

    h3 {
      padding: 15px 0 10px;
    }

    p {
      padding-bottom: 15px;
    }

    .profile-picture {
      border-radius: 50%;
    }
	}
}

.company-list {
	@include sectionVerticalPadding();

	.company-logo {
		width: 100%;
		padding: 10px;
	}
}

.google-map {
	height: 300px;
	padding: 0;
}

footer {
	@include sectionVerticalPadding();

	.share-buttons {
		list-style: none;
		padding: 0;

		.share {
			display: inline-block;
		}
	}
}
