@import 'lib/base';

@mixin sectionVerticalPadding() {
	$vertical-padding: 40px;
	padding-top: $vertical-padding;
	padding-bottom: $vertical-padding;
}

body {
  font-size: 14px;
}

.bg-alt {
	background-color: #f3f3f3;
}

.section-title {
	text-align: center;
  padding: 0 0 20px;
}

header {
	padding-top: 20px;

	.logo,
	.company-name {
		display: inline-block;
		vertical-align: top;
	}

	.company-name {
		padding-left: 10px;
	}

  .navigation {
    list-style: none;
    margin-top: -5px;
    float: right;

    li {
      font-weight: bold;
      display: inline-block;
      padding: 10px 15px;

      a {
        color: #333;
        padding-bottom: 5px;
        text-decoration: none;

        &:hover {
          color: #DA4453;
          border-bottom: 2px solid #DA4453;
        }
      }
    }
  }
}

.product-slider {
	@include sectionVerticalPadding();

	#carouselSlider {
    position: relative;
    margin-bottom: 40px;

    .carousel-indicators {
      position: absolute;
      bottom: -40px;

      li {
        border-color: #E6E9ED;

        &.active {
          background-color: #DA4453;
          border-color: #DA4453;
        }
      }
    }
  }

	.product-info {

    h2 {
      font-size: 1.8em;
      padding-bottom: 15px;
    }

    .share-item-block {
      padding-top: 15px;

      .add-to-cart {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #ED5565;
        color: white;
        font-size: 1em;

        &:hover {
          background-color: #DA4453;
        }
      }

      .share-buttons {
        list-style: none;
        padding: 6px 0 0 0;
        float: right;

        .share {
          display: inline-block;
        }
      }
    }
	}
}

.testimonials {
	@include sectionVerticalPadding();

	.profiles {
		margin-left: 50%;
		transform: translateX(-50%);
    text-align: center;

    h3 {
      padding: 15px 0 10px;
    }

    p {
      padding-bottom: 15px;
    }

    .profile-picture {
      border-radius: 50%;
    }
	}
}

.company-list {
	@include sectionVerticalPadding();

	.company-logo {
		width: 100%;
		padding: 10px;
	}
}

.google-map {
	height: 300px;
	padding: 0;
}

footer {
	@include sectionVerticalPadding();

	.share-buttons {
		list-style: none;
		padding: 0;

		.share {
			display: inline-block;
		}
	}
}
